
.row{
    max-width: 100vw;
}
.container{
    margin-bottom: 20px !important;
    width: 1024px;
}
.article-row{
    height: 450px;  
}
.top-articles > div{
    /* margin: 5px; */
    padding-right: 29px;
    /* padding-left: 18px; */
}

/* .article{
    min-height: 400px !important;
    max-height: 400px !important;
    border-radius: 0 !important;
} */
.card{
    border: 1px white solid;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.article, .card{
    box-shadow:  0 2px 5px 0 rgb(240, 240, 240), 0 2px 10px 0 rgb(240, 240, 240);
}
.card-title{
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: 700 !important;
}

.black-text2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400 !important;
}
.card:hover{
    border-bottom: rgb(20, 18, 156) solid 2px;
}
 .article:hover > .card-body > .black-text{
     color: rgb(117, 117, 117) !important;
 }

.card-img{
    height: 195px;
    width: 100%;
    border-radius: 0 !important;
    /* object-fit: contain; */
}


.news-tile .card-title {
  position: absolute;
  bottom: 15px;
  left: 10px;
  text-shadow: black 0px 0px 3px;
}

.rgba-stylish-strong {
  background-color: rgba(62, 69, 81, .5);
}

/* @media (max-device-width: 700px){
    .news-tile{
        justify-content: space-evenly;
        width: 100%;
    }
    .top-articles{
        justify-content: space-evenly;
    }
} */

@media only screen and (min-device-width: 701px) and (max-device-width: 1023px){
    .top-articles{
        flex-wrap: nowrap;
    }
    .top-articles > div{
        flex: 0 0 32.9%;
        padding-right: 20px;
        /* padding-left: 15px; */
    }

}
